<% present(item) do |item| %>
  <tr class='<%= background %>' >
    <td class='td-pad td-emphasized'>
      <%= link_to item.sortable_name, person_detail_path(item), class: "text-sm font-medium link-hover" %></td>
    <td class='td-pad td-base hidden lg:table-cell'><%= item.nickname %></td>
    <td class='td-pad td-base hidden lg:table-cell'><%= item.role %></td>
    <td class='td-pad td-base hidden lg:table-cell'><%= item.status %></td>
    <td><%= link_to 'Add to House', update_non_occupant_path(item.id, {house_id: @house_id}), method: :patch %></td>
  </tr>
<% end %>