<% present(item) do |item| %>
  <tr class='<%= background %>' >
    <td class='pl-6'><%= item.person.fullname %></td>
    <td class='pl-6'><%= item.cc %></td>
    <td class='pl-6'><%= item.ph_number %></td>
    <td class='pl-6'><%= item.phone_type %></td>
    <td class='pl-6'><%= item.preferred %></td>
    <td class='pl-6'><%= item.txt_capable %></td>
    <td class='pl-6'><%= item.note %></td>
    <td><%= link_to 'Detail', phone_path(item.id) %></td>
  </tr>
<% end %>
