<% present(item) do |item| %>
  <tr class='<%= background %>' >
    <td class='pl-6'><%= item.person.fullname %></td>
    <td class='pl-6'><%= item.cc %></td>
    <td class='pl-6'><%= item.ph_number %></td>
    <td class='pl-6'><%= item.phone_type %></td>
    <td class='pl-6'><%= item.primary %></td>
    <td class='pl-6'><%= item.textable %></td>
    <td class='pl-6'><%= item.note_hint %></td>
    <td><%= link_to 'Detail', phone_path(item.id) %></td>
  </tr>
<% end %>
