<% present(item) do |item| %>
  <tr class='<%= background %>' >
  
    <td class='td-pad'>
      <%= link_to item.person.fullname, phone_path(item), class: "td-emphasized link-hover" %>
    </td>

    <td class='td-pad td-base'><%= item.ph_number %></td>
    <td class='td-pad td-base hidden sm:table-cell'><%= item.phone_type %></td>
    <td class='td-pad td-base hidden sm:table-cell'><%= item.primary %></td>
    <td class='td-pad td-base hidden lg:table-cell'><%= item.textable %></td>
    <td class='td-pad td-base hidden md:table-cell'><%= item.note_hint %></td>
  </tr>
<% end %>
