<% present(@phone) do |phone| %>
<div class="flex flex-col items-center justify-center">

  <div class='grid grid-rows-auto'>
    <div class='row-start-1 max-h-fit'>

      <div class='grid auto-rows-min grid-rows-auto'>
        <header class='row-start-1'>
          <h1 class="mb-2 text-2xl font-sans font-bold">Address Detail</h1>
        </header>

        <div class='row-start-2 h-fit mb-3'>
          <%= render "shared/show/address",
            attribute: phone.person_name, label: 'Person'
          %>
        </div>

        <div class='row-start-3 h-fit mb-3'>
          <%= render "shared/show/address",
            attribute: phone.cc, label: 'Country Code'
          %>
        </div>

        <div class='row-start-4 h-fit mb-3'>
          <%= render "shared/show/address",
            attribute: phone.ph_number, label: 'Phone Number'
          %>
        </div>

        <div class='row-start-5 h-fit mb-3'>
          <%= render "shared/show/attrib",
            attributes: [
              {attribute: phone.phone_type, label: 'Type'},
              {attribute: phone.textable, label: 'Textable'},
              {attribute: phone.primary, label: 'Preferred'},
            ]
          %>
        </div>

        <div class='row-start-6 h-fit mb-3'>
          <%= render "shared/show/note",
            attribute: phone.note, label: 'Note'
          %>
        </div>
      </div>
    </div>

    <div class='row-start-2 h-fit my-3'>
      <%= render "shared/show/edit_btn", path: edit_phone_path(phone) %>
      <%= render "shared/show/back_btn", path: phones_path %>
    </div>
  </div>

</div>
<% end %>
