<% present(item) do |item| %>
  <tr class='<%= background %>' >
    <td class='td-pad td-emphasized'><%= item.name %></td>
    <td class='td-pad td-base'><%= item.person_name %></td>
    <td class='td-pad td-base hidden md:table-cell'><%= item.date_range %></td>
    <td class='td-pad'><%= link_to 'Detail', position_path(item.id), class: "text-sm font-medium link-hover" %></td>
  </tr>
<% end %>
