<% present(@position) do |position| %>
	<div class="grid grid-rows-8 my-2 gap-x-6 gap-y-2 justify-items-center border-b border-gray-900/10 pb-11">
    <h1 class="mb-4 text-2xl font-extrabold">Position Detail</h1>

		<div> Name: <%= position.name %></div>
		<div> Person: <%= position.person_name %></div>
		<div> Start Date: <%= position.start %></div>
    <div> Stop Date: <%= position.stop %></div>

		<div><br></div>

		<div>
			<hr class="border-1 border-gray-700" />
		  <%= link_to 'Edit', edit_position_path(@position), class: "text-lg font-medium link-hover" %> |
		  <%= link_to 'Positions List', positions_path, class: "text-lg font-medium link-hover" %>
		</div>
	</div>
<% end %>
