<div class="grid grid-cols-1 sm:grid-cols-6 my-2 gap-x-6 gap-y-2">
  <div class="col-start-1 col-end-6 sm:col-start-2 bg-blue-100">

    <h1 class="mb-4 text-2xl font-extrabold">Position Detail</h1>

		<% present(@position) do |position| %>
		  <div class="border-b border-gray-900/10 pb-11"> <!-- grid_container -->
				<%= position.notice(notice) %>

				<%= position.show(:name) %>
				<%= position.show(:person_name) %>
				<%= position.show(:date_range) %>
		  </div>
		<% end %>

	  <%= link_to 'Edit', edit_position_path(@position), class: "text-lg text-bold" %> |
	  <%= link_to 'Positions List', positions_path, class: "text-lg text-bold" %>

  </div>
</div>
