<% present(item) do |item| %>
  <tr class='<%= background %>' >
    <td class='pl-6'><%= item.nickname %></td>
    <td class='pl-6'><%= item.sortable_name %></td>
    <td class='pl-6'><%= item.suffix %></td>
    <td class='pl-6'><%= item.honorific %></td>
    <td class='pl-6'><%= item.house_address %></td>
    <td class='pl-6'><%= item.role %></td>
    <td class='pl-6'><%= item.status %></td>
    <td class='pl-6'><%= item.note_hint %></td>
    <td><%= link_to 'Detail', person_detail_path(item) %></td>
</tr>
<% end %>
