<section id="filter_people">
  <%= search_form_for @q do |f| %>
    <div class="grid-rows-4">

      <div class='sm:row-start-1 col-span-1 mt-2'>
        <h2 class="text-2xl font-medium mr-4">Filter:</h2>
      </div>

      <div class='sm:row-start-2 col-span-1 '>
        <%= render 'shared/search/field', f: f, label: 'Last Name: ', field_matcher: :last_eq %>
      </div>

      <div class='sm:row-start-2 col-span-1 '>
        <%= render 'shared/search/field', f: f, label: 'Nickname: ', field_matcher: :nickname_eq %>
      </div>

      <div class='sm:row-start-2 col-span-1 '>
        <%= render 'shared/search/select', f: f, label: 'Status: ', collection: Person.statuses, field_matcher: :status_eq %>
      </div>

      <div class='sm:row-start-4 col-span-1 '>
        <%= render "shared/search/filter_cancel", f: f %>
      </div>

    </div>
  <% end %>
</section>
