<% present(item) do |item| %>
  <tr class='<%= background %>' >
  <td class='pl-6'><%= item.house_address %></td>
  <td class='pl-6'><%= item.gets_flag %></td>
  <td class='pl-6'><%= item.is_rented %></td>
  <td class='pl-6'><%= item.is_listed %></td>
  <td class='pl-6'><%= item.status %></td>
  <td class='pl-6'><%= item.linked_lot_addresses %></td>
  <td class='pl-6'><%= item.note_hint %></td>
  <td><%= link_to 'Detail', house_detail_path(item) %></td>
<% end %>

