<% present(@house) do |house| %>
  <div class="grid grid-rows-8 my-2 gap-x-6 gap-y-2 justify-items-center border-b border-gray-900/10 pb-11">
    <h1 class="mb-4 text-2xl font-extrabold">Address Detail</h1>

      
    <div>House: <%= house.house_address %></div>
    <div>Member Flag Group: <%= house.gets_flag %></div>
    <div>Rental Property: <%= house.is_rented %></div>
    <div>Listed For Sale: <%= house.is_listed %></div>
    <div>Latitude: <%= house.lat %></div>
    <div>Longitude: <%= house.lng %></div>
    <div>Image Link: <%= house.image_link %></div>
    <div>Status: <%= house.status %></div>
    <div>Linked Lots: <%= house.linked_lot_addresses %></div>
    <div>Note: <%= house.note %></div>

    <div>
      <%= 
        render "shared/table", 
            head: 'house_owner_head', 
            item_row: 'house_owner_row', 
            collection: house.owners 
      %>

      <%= 
        render "shared/table", 
            head: 'house_occupants_head', 
            item_row: 'house_occupants_row', 
            collection: house.occupants 
      %>

      <%= 
        render "shared/table", 
            head: 'house_contrib_head', 
            item_row: 'house_contrib_row', 
            collection: house.yearly_contributions_for_house 
      %>
    </div>
  
    <div><br></div>

    <div>
      <hr class="border-1 border-gray-700 cursor-pointer hover:border-red-500" />
      <%= link_to 'Edit', edit_house_path(@house), class: "text-lg font-medium hover:font-extrabold" %> |
      <%= link_to 'Houses List', houses_path, class: "text-lg font-medium hover:font-extrabold" %>
    </div>
  </div>
<% end %>
