<tr class='<%= background %>' >
	<td class='pl-6'><%= item.name %></td>
  <td class='pl-6'><%= item.person_name %></td>
  <td class='pl-6'><%= item.person_pref_phone %></td>
  <td class='pl-6'><%= item.person_pref_email %></td>
</tr>
