<% present(nil, WelcomePresenter) do |w| %>
	<div class="grid grid-rows-8 my-2 gap-x-6 gap-y-2 place-content-center border-b border-gray-900/10 pb-11">
	  <h1 class="mb-4 text-2xl font-extrabold">Welcome to the WWNA Roster!</h1>

		<div class="max-w-full justify-items-center">
			<h3>Total Dues Paid <%= w.current_year %>: <%= humanized_money_with_symbol w.total_dues_current %></h3>
		  <h3>Total Dues Paid <%= w.last_year %>: <%= humanized_money_with_symbol w.total_dues_last_year %></h3>		    
	  </div>

		<div class="max-w-full">....</div>

		<div class="text-xl font-bold"> WWNA Board </div>

		<div>
			<%= 
        render "shared/table", 
            head: 'current_positions_head', 
            item_row: 'current_positions_row', 
            collection: w.current_positions 
      %>
		</div>
		
	</div>
<% end %>
