<tr>
  <td><%= contribution.house_address %></td>
  <td><%= contribution.date_paid %></td>
  <td><%= contribution.amount %></td>
  <td><%= link_to 'Show', contribution_path(contribution.id) %></td>
  <td><%= link_to 'Edit', edit_contribution_path(contribution.id) %></td>
  <td><%= link_to "Destroy", contribution, 
          data: { turbo_method: :delete, 
                  turbo_confirm: 'Are you sure?' } %></td>
</tr>
