<% present(item) do |item| %>
  <tr class='<%= background %>' >
    <td class='pl-6'><%= item.addressee %></td>
    <td class='pl-6'><%= item.complete_address %></td>
    <td class='pl-6'><%= item.address_type %></td>
    <td class='pl-6'><%= item.primary %></td>
    <td class='pl-6'><%= item.note_hint %></td>
    <td><%= link_to 'Detail', address_path(item) %></td>
  </tr>
<% end %>