  <% info = mdl.element_info[elem] %>

  <div class="row-start-<%= info[:rstart] %> 
              col-start-<%= info[:start] %> 
              col-span-<%= info[:span] %>
              <%= info[:bg] %>"> 
    <%= info[:lbltxt] %>
  </div>
