<% present(item) do |item| %>
  <tr class='<%= background %>' >
    <td class='td-pad td-emphasized'><%= item.person.fullname %></td>
    <td class='td-pad td-base'><%= item.addr %></td>
    <td class='td-pad td-base'><%= item.email_type %></td>
    <td class='td-pad td-base'><%= item.primary %></td>
    <td class='td-pad td-base'><%= item.note_hint %></td>
    <td class='td-pad'><%= link_to 'Detail', email_path(item.id), class: "text-sm font-medium link-hover" %></td>
  </tr>
<% end %>