<% present(item) do |item| %>
  <tr class='<%= background %>' >
    <td class='pl-6'><%= item.person.fullname %></td>
    <td class='pl-6'><%= item.addr %></td>
    <td class='pl-6'><%= item.email_type %></td>
    <td class='pl-6'><%= item.primary %></td>
    <td class='pl-6'><%= item.note_hint %></td>
    <td><%= link_to 'Detail', email_path(item.id) %></td>
  </tr>
<% end %>