<% present(item) do |item| %>
  <tr class='<%= background %>' >

    <td class='td-pad'>
      <%= link_to item.person_fullname, email_path(item), class: "td-emphasized link-hover" %>
    </td>

    <td class='td-pad td-base'><%= item.addr %></td>
    <td class='td-pad td-base'><%= item.email_type %></td>
    <td class='td-pad td-base hidden sm:table-cell'><%= item.primary %></td>
    <td class='td-pad td-base hidden md:table-cell'><%= item.note_hint %></td>
  </tr>
<% end %>