<% present(@email) do |email| %>
	<div class="grid grid-rows-8 my-2 gap-x-6 gap-y-2 justify-items-center border-b border-gray-900/10 pb-11">
    <h1 class="mb-4 text-2xl font-extrabold">Email Detail</h1>

		<div>Addressee: <%= email.addressee %></div>
		<div>Address: <%= email.addr %></div>
		<div>Type: <%= email.email_type %></div>
		<div>Preferred: <%= email.primary %></div>
		<div>Note: <%= email.note %></div>
	
		<div><br></div>

		<div>
			<hr class="border-1 border-gray-700" />
	    <%= link_to 'Edit', edit_email_path(@email), class: "text-lg font-medium hover:font-extrabold" %> |
	    <%= link_to 'Emails List', emails_path, class: "text-lg font-medium hover:font-extrabold" %>
	  </div>
  </div>
<% end %>
