<% present(@email) do |email| %>
<div class="flex flex-col items-center justify-center">

  <div class='grid grid-rows-auto'>
    <div class='row-start-1 max-h-fit'>

      <div class='grid auto-rows-min grid-rows-auto'>
        <header class='row-start-1'>
          <h1 class="mb-2 text-2xl font-sans font-bold">Address Detail</h1>
        </header>

        <div class='row-start-2 h-fit mb-3'>
          <%= render "shared/show/attrib_wide",
            attribute: email.addressee, label: 'Addressee'
          %>
        </div>

        <div class='row-start-3 h-fit mb-3'>
          <%= render "shared/show/attrib_wide",
            attribute: email.addr, label: 'Address'
          %>
        </div>

        <div class='row-start-4 h-fit mb-3'>
          <%= render "shared/show/attrib",
            attributes: [
              {attribute: email.email_type, label: 'Type'},
              {attribute: email.primary, label: 'Preferred'},
            ]
          %>
        </div>

        <div class='row-start-5 h-fit mb-3'>
          <%= render "shared/show/note",
            attribute: email.note, label: 'Note'
          %>
        </div>
      </div>
    </div>

    <div class='row-start-4 h-fit my-3'>
      <%= render "shared/show/edit_btn", path: edit_email_path(email) %>
      <%= render "shared/show/back_btn", path: emails_path %>
      <%= render "shared/show/delete_btn", path: email_path(email) %>
    </div>
  </div>

</div>
<% end %>
