<% present(item) do |item| %>
  <tr class=<%= background %> >
    <td class='pl-6'><%= item.email %></td>
    <td class='pl-6'><%= item.first_name %></td>
    <td class='pl-6'><%= item.last_name %></td>
    <td class='pl-6'><%= item.role %></td>
    <td><%= link_to 'Detail', show_user_path(item.id) %></td>
  </tr>
<% end %>


