  <div class="sticky top-0 z-10">
    <div>
      <h1 class="text-3xl font-medium"><%= link_to 'WWNA', root_path %></h1>
    </div>

    <ul class="menu" data-controller="dropdown">
      <li><%= link_to 'Houses', houses_path %></li>
      <li><%= link_to 'People', people_path %></li>
      <li><%= link_to 'Positions', positions_path %></li>
      <li><%= render "layouts/property_dropdown" %></li>
      <li><%= render "layouts/person_dropdown" %></li>
      <li><%= link_to "Users", users_path %></li>
      <li><%= render "layouts/user_dropdown" %></li>
    </ul>
  </div>
