<section id='topnav'>
  <div class="max-w-7xl mx-auto p-2 flex justify-between items-center">
    <h1 class="text-3xl font-medium">
      <%= link_to 'WWNA', root_path %>
    </h1>
    <div>
      <button id="mobile-open-button" 
              class="sm:hidden text-3xl focus:outline-none">
        &#9776;
      </button>
      <nav class="hidden sm:block space-x-8 text-xl" 
           aria-label="main">
        <%= link_to 'Houses', houses_path %>
        <%= link_to 'People', people_path %>
        <%= link_to 'Positions', positions_path %>

        <%= render "layouts/property_dropdown" %>
        <%= render "layouts/person_dropdown" %>
        <%= link_to "Users", users_path %>

        <%= render "layouts/user_dropdown" %>
      </nav>
    </div>
  </div>
</section>

