<!DOCTYPE html>
<html>
  <head>
    <title>Roster</title>
    <meta name="description" content="">
    <meta name="author" content="Mitch Kuppinger, MD">
    <meta name="copyright" content="Mitch Kuppinger, MD, Black Lake Software">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "ckbox_rbtn_cloak", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pagy", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased sans-serif">
    <header class="flex-row flex-grow w-full ">        
      <%= render "layouts/topnav" %>        
    </header>

    <main class="max-w-3xl mx-auto px-4 py-4">
      <%= yield %>
    </main>
    
    <footer class="mt-6">
      <%= render "layouts/copyright" %>
    </footer>
  </body>
</html>
 