<!DOCTYPE html>
<html>
  <head>
    <title>Roster</title>
    <meta name="description" content="">
    <meta name="author" content="Mitch Kuppinger, MD">
    <meta name="copyright" content="Mitch Kuppinger, MD, Black Lake Software">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container m-auto mt-2 grid grid-cols-12 grid-rows-12 gap-4">
      <div class="tile bg-teal-500 col-start-1 col-span-12 row-start-1 row-span-3">
        <%= render "layouts/topnav" %>
      </div>

      <div class="tile bg-indigo-400 col-start-1 col-span-12 row-start-4 row-span-7">
       <%= yield %>
      </div>

      <div class="tile bg-gray-300 col-start-1 col-span-full row-start-11 row-span-2">
        <%= render "layouts/copyright" %>
      </div>
    </div>
  </body>
</html>
 
