<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Roster</title>
    <meta name="description" content="">
    <meta name="author" content="Mitch Kuppinger, MD">
    <meta name="copyright" content="Mitch Kuppinger, MD, Black Lake Software">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "ckbox_rbtn_cloak", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pagy", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased font-sans">
    <%= render "layouts/navbar/header" %>
    <% if @report %>
      <%= yield %>
    <% else %>
      <%= render "layouts/main/main" %>
    <% end %>
  </body>
</html>
