<!DOCTYPE html>
<html>
  <head>
    <title>Roster</title>
    <meta name="description" content="">
    <meta name="author" content="Mitch Kuppinger, MD">
    <meta name="copyright" content="Mitch Kuppinger, MD, Black Lake Software">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "ckbox_rbtn_cloak", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "pagy", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased sans-serif bg-green-200">
    <header class="flex-row flex-grow w-full ">        
      <%= render "layouts/navbar" %>
    </header>

    <main class="flex flex-col mx-auto px-2 py-4 items-center">
      <%= yield %>
    </main>
    
    <footer class="mt-3">
      <%= render "layouts/copyright" %>
    </footer>
  </body>
</html>
 